<?xml version="1.0"?>
<config>
    <modules>
        <Iconic_Resume>
            <version>0.1.0</version>
        </Iconic_Resume>
    </modules>
    <frontend>
        <routers>
            <resume>
                <use>standard</use>
                <args>
                    <module>Iconic_Resume</module>
                    <frontName>resume</frontName>
                </args>
            </resume>
        </routers>
        <layout>
            <updates>
                <resume>
                    <file>resume.xml</file>
                </resume>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <iconic_resume before="Mage_Adminhtml">Iconic_Resume_Adminhtml</iconic_resume>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <resume>
                <class>Iconic_Resume_Model</class>
                <resourceModel>resume_mysql4</resourceModel>
            </resume>
            <binary>
                <class>Iconic_Resume_Binary_Model</class>
                <resourceModel>resume_binary</resourceModel>
            </binary>
            <degree>
                <class>Iconic_Resume_Degree_Model</class>
                <resourceModel>resume_degree</resourceModel>
            </degree>
            <change>
                <class>Iconic_Resume_Change_Model</class>
                <resourceModel>resume_change</resourceModel>
            </change>
            <resume_mysql4>
                <class>Iconic_Resume_Model_Mysql4</class>
                <entities>
                    <resume>
                        <table>t_resume</table>
                    </resume>
                    <binary>
                        <table>t_resume_binary</table>
                    </binary>
                    <degree>
                        <table>m_resume_degree</table>
                    </degree>
                    <change>
                        <table>m_resume_change</table>
                    </change>
                </entities>
            </resume_mysql4>
        </models>
        <resources>
            <resume_setup>
                <setup>
                    <module>Iconic_Resume</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </resume_setup>
            <resume_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </resume_write>
            <resume_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </resume_read>
        </resources>
        <blocks>
            <resume>
                <class>Iconic_Resume_Block</class>
            </resume>
        </blocks>
        <helpers>
            <resume>
                <class>Iconic_Resume_Helper</class>
            </resume>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <resume>
                        <type>singleton</type>
                        <class>Iconic_Resume_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </resume>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
</config>